# =========================
# Python cache
# =========================
**/__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
env/
.venv/
conda-env/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Training outputs
# =========================
outputs/
results/
runs/
checkpoints/

# model weights
*.pth
*.pt
*.ckpt

# =========================
# Dataset
# =========================
data/
datasets/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Hydra (很多RL项目用)
# =========================
multirun/
hydra_outputs/


# =========================
# tianshou
# =========================

/tianshou